<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/index1.css">
<%- include('./partials/nav') %>

<div class="container">
  <div class="i2">
    <div class="nav">nav</div>
    <div class="User-Note-Area">user note area</div>
    <div class="Main-Area">main area</div>
    <div class="Light\/Dark"><button>Light Dark</button></div>
    <div class="Page-Title">
      <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
      <% if (user?.profile.avatar) { %>
      <div>
        <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
      </div>
      <% } %>
    </div>
    <div class="Note-Title"> User Notes </div>
  </div>
</div>


<%- include('./partials/footer') %>
  