<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= note.title %></h1>
  <h4><%= note.owner.name %></h4>
  <div class="note">
    <p><%= note.content %></p>
  </div>
  <% if (note.owner.equals(user?.profile._id)) { %>
  <form action="/notes/<%= note._id %>?_method=DELETE" method="POST">
    <button class="btn btn-primary" type="submit">Delete Note</button>
  </form>

  <form action="/notes/<%= note._id %>/edit" method="GET">
    <button class="btn btn-primary" type="submit">Edit Note</button>
  </form>
  <% } %>

  
  <% if (user) { %>
  <form action="/notes/<%= note._id %>/comments" method="POST" id="comment-text">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" id="comment" name="content" rows="1"></textarea>
      <button class="btn btn-primary" type="submit">Add Comment</button>
    </div>
  </form>
  <% } %>
</section>


<h3>Comments</h3>
<% note.comments.forEach(comment => { %>
<div class="comment">
  <p><%= comment.content %> - by <%= comment.owner.name %> </p>
</div>
<% }) %>


<%- include('../partials/footer') %>