<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= note.title %></h1>
  <h4><%= note.owner.name %></h4>
  <div class="note">
    <p><%= note.body %></p>
  </div>
</section>

<%- include('../partials/footer') %>